[Unit]
After=network.service
PartOf=graphical-session.target

[Service]
User = b3n
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/b3n/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/1000
WorkingDirectory=/opt/wthr
ExecStart=/opt/wthr/.venv/bin/python3 /opt/wthr/wthr.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
